<p>Projeto Admissão Hospitalar por Reação Adversa Grave no Estado da Bahia.</p>
<p>PROGRAMA DE PESQUISA PARA O SUS: GESTÃO COMPARTILHADA EM SAÚDE - PPSUS - BA</p>
<p>FAPESB-BA Edital Nº020/2013</p>
<p>Cordenador do Projeto: Dr. Antônio Carlos Noblat</p>